<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>WHAT TO COOK???</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="svg-gallery">
    <!-- Loop through the list of SVG file names and generate SVG items -->
    <div th:each="svgFile : ${svgFiles}" class="svg-item" onmousedown="getSVGElement(this)" draggable="true">
        <!-- Use the Thymeleaf expression to set the 'xlink:href' dynamically -->
        <image th:src="@{/svg_files/{svgFile}(svgFile=${svgFile})}" width="100" height="100" />
    </div>
</div>
<br>
<div class="center-image" id="dropArea">
  <img src="svg_files/fridge.png" alt="Fridge Image" class="fridge-image" id="shakingImage">
</div>

<!--<form action="/upload" method="post" enctype="multipart/form-data">-->
<!--  <input type="file" name="file" class="hidden-input">-->
<!--</form>-->

<div class="find-recipes-button">
  <a href="/findRecipe" class="find-recipes-link">Find Recipes</a>
</div>

<script src="/js/script.js?version=1"></script>
</body>
</html>
